@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", sans-serif;
}

header {
    text-align: center;
    border-bottom: 1px solid lightgray;
}

.container {
display:flex;
padding-top:16px;

}

.card{
width: 300px;
border:solid 1px lightgrey;
padding:8px;
border-radius:16px;
display:flex;
flex-direction:column;
gap:16px;

}

.card img{
width:100%;
aspect-ratio:1/1;
object-fit:cover;
object-position: 40% 50%;
border-radius:8px;
}


.row {
display:flex;
gap:10px;
align-items:center;
}

.chip{
background-color:blue;
color:white;
padding:6px;
border-radius:1000px;
}

.card h2, .card p{
margin:0;
}