/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Header Styles */
.header {
    background-color: #333;
    color: white;
    position: sticky;
    text-align: center;
    padding: 24%;

}

.header h1 {
    margin: 0;
    position:relative;
    align-items:center;
}

/* Navigation Styles */

.nav {
    background-color: #444;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.reg{
    display: flex;
    gap: 10px;

}

/* Main Content Styles */
.main {
    max-width: 1200px;
    margin: auto;
}

/* Grid for Products */


.product {
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 16px;
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Footer Styles */
.footer {
    background-color: #333;
    color: white;
}

.footer p {
    margin: 0;
}